/*Reset*/
    body, p, div, h1, h2, h3, h4, h5, h6, table, tbody, tr, td, span, blockquote, a, abbr, address, cite, code, img, ul, ol, li, dl, dd, dt, form, label, fieldset, caption,  button {
    border-collapse: collapse; border:0; outline:0; font-family: 'Open Sans', sans-serif;  vertical-align:baseline; list-style:none; text-decoration:none; line-height:1.2em; margin:0; padding:0}

/*Colors
        red             #c20116
        gray lightest   #f1f1f1
        gray light      #eaeaea
        gray footer     #3d3d3d
*/

/* ------------------------------------------------------------------------------ */

/*Basic tags*/
h1{font-size:3em;font-weight:700;color:#c20116;margin-left:30px;}
h2 {font-size:1.7em;font-weight:500;color:black;}
h3 {font-size:1.5em;color:black;font-weight:500;}
h4 {font-size:1.3em;font-weight:500;color:black;}
h5 {font-size:1.1em;font-weight:500;color:black;}
h6 {font-size:1.0em;font-weight:500;color:black;}
p {padding:3px 0px;margin:0px;}
strong {font-weight:600;}
a {text-decoration:none;}
a:hover {cursor:pointer !important;opacity:0.6;}
a:link, a:visited { color:black;}
nav a {text-decoration:underline;}
ul li { padding-left:15px;}
input, textarea, button { clear:both; float:left; padding:2px 1px; }
button { cursor:pointer; margin-right:-2px !important; font-style:normal}
ol li { list-style:decimal inside; padding:5px 0}
blockquote { border-left:5px solid black; font-style:italic; padding:10px; margin:20px;}
img {border:none;}
.mar-top-30 {margin-top:7vh;}
nav li {line-height:1.4em;}

/*Basic layout*/
html {font-size: 100%;}
body{font-size:1.2em;font-weight:300;}
.wrap {padding-top:7vh;min-height:100vh;}
.cleaner {clear:both; width:100%;float:none;height:0px;line-height:0px;}
.col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{float:left;}  .col-md-12{width:100%;}  .col-md-11{width:91.66666667%;}  .col-md-10{width:83.33333333%;}  .col-md-9{width:75%;}  .col-md-8{width:66.66666667%;}  .col-md-7{width:58.33333333%;}  .col-md-6{width:50%;}  .col-md-5{width:41.66666667%;}  .col-md-4{width:33.33333333%;}  .col-md-3{width:25%;}  .col-md-2{width:16.66666667%;}  .col-md-1{width:8.33333333%;}  .col-pad {padding:0 30px;}
header, footer, section{width:100%; clear:both;}
header, footer, section,#title-banner,.wrap-main,.wrap-side {position:relative;}
.wrap-main{width:70%;float:left;}
.wrap-side{width:30%;float:right;height:100% !important;}
.pad-main-left,.pad-main-right {width:auto;padding-top:7vh;padding-bottom:7vh;}
.pad-main-left{padding-right:70px;padding-left:120px;}
.pad-main-right{float:left;padding-right:120px;padding-left:70px;}
.bg-red {background-color:#c20116;color:white;}
.bg-red a:link,.bg-red a:visited, .bg-red h2, .bg-red h3, .bg-red h4  {color:white;}
.section-gray {background-color:#f1f1f1;}
.section-gray .wrap-side {background-color:#eaeaea;}
.red-layout{background: url(../img/img-system/layout/bg-red.jpg) repeat-y top right; background-size: contain;}
.gray-layout{background: url(../img/img-system/layout/bg-gray.jpg) repeat-y top right; background-size: contain;}
.float-right {float:right;}

.but {display:block; width:300px; max-width:100%;text-align:center;line-height:40px; height:40px;}
.but-section-top {margin-top:15px;}
.but-red-empty {border:2px solid #c20116; color:#c20116 !important;background-color:transparent;}
.but-red {border:none; color:white;background-color:#c20116;}
.but-white-empty {border:2px solid white; color:white !important;}

/*Header*/
header{position:fixed;top:0px;left:0px;height:103px;width:100%;z-index:3 !important;display:block;background-color:white;box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1), 0px 1px 5px rgba(0, 0, 0, 0.5);}
#header-wrap {margin:0 120px;}
#logo{display:block;margin-top:20px; }
#logo .img{width:100%;}

#main-navigation ul li {text-align:center;}
#main-navigation a {text-decoration:none;line-height:1.8em;}
.menu-group-title{font-size:1.6em;text-align:center;font-weight:bold;position:relative;}
.selected-menu-group .menu-group-title, .selected-menu-group a{color:#c20116;}
.selected-menu-shadow {display:none;}
.selected-menu-group .selected-menu-shadow {display:block;position:absolute; top:103px;width:31%;}
#main-navigation li li {display:inline;}

#lang-box, #social-box, #contacts-link {clear:both;width:100%;line-height:1.8em;}
#lang-box a, #social-box a,#contacts-link {float:right;text-align:right;}
#lang-box a, #social-box a {margin-left:10px;}

/*Footer*/
footer{background-color:#3d3d3d;color:white;}
footer .pad-main {padding:7vh 0;}
footer h3 {color:#838383;font-size:3em;font-weight:700;margin-bottom:30px;}
footer table{width:90%;}
footer th, footer td, footer a {color:white;text-align:left;font-size:0.8em;}
footer .social-links {margin-top:10vh;}
footer th a {color:white !important;font-weight:300;text-decoration:underline;}
footer .wrap-side {text-align:right;padding-top:90px;}


    /*  -----------------------------------Banner-----------------------------------------------  */

/*Banner title*/
#title-banner {margin-top:100px;z-index:1 !important;position:relative;margin-bottom:-11px;}
#title-banner img {width:100%;height:auto;}
#title-banner h2{position:absolute;top:20px; color:white;width:100px;font-weight:bold;line-height:1.2em;font-size:2.2em;margin-bottom:15px;clear:both;padding-bottom:30px;}
.title-heart {position:relative;position:absolute;padding:0px;}
.title-heart img {margin:0px;}
.title-heart .heart-popup{display:none;opacity:0;-webkit-transition:all 2s ease-in-out;-moz-transition: all 2s ease-in-out;-ms-transition: all 2s ease-in-out;-o-transition: all 2s ease-in-out;transition: all 2s ease-in-out;}
:hover.title-heart .heart-popup{opacity:1;position:absolute; top:45px;left:45px;display:block; width:200px;height:auto;min-height:50px;background-color:white;  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1);padding: 10px 15px 5px 15px;}

/*  -----------------------------------Novinky a kalendář-----------------------------------------------  */

/*News*/
#news-header {width:100%;clear:both; float:none;margin-bottom:30px;}
#news-tabs{width:420px;float:left;margin-left:23px;}
#news-tabs li{margin:0px;margin-left:-30px;float:right;display:block;background: url(../img/img-system/title/tab-white.png) no-repeat top right;padding:15px 40px 10px 30px;line-height:30px;}
#news-tabs li.tab-selected,#news-tabs li:hover {background: url(../img/img-system/title/tab-red.png) no-repeat top right;color:white;}
#news-tabs li:hover {cursor:pointer;}

.fulltext-form {width:30%;float:right;margin-top:10px;}
.fulltext-form input {clear:none;margin:0px;height:30px;}
.search-text {width:67%;float:left;}
.search-submit {width:30%;float:left;background-color:#c20116;color:white;height:40px !important;}

#news-top {margin-right:1%;margin-bottom:1%;}
#news-top {float:left;width:56%;}
#news-other {float:left;width:42%;}
.news-primary, .news-secondary {position:relative;display:block;}
.news-primary,.news-primary img, .news-secondary img {width:100%;}
.news-secondary {float:left;width:49%;margin-top:1%;}
.news-secondary-first{margin-right:2%;}
.news-primary .news-text, .news-secondary .news-text {position:absolute; bottom:30px;width:90%;margin-left:5%;color:white;}
.news-secondary  h5, .news-primary h4 {color:white !important;}
.news-cover {background: url(../img/img-system/title/cover.png) no-repeat bottom left;background-size: contain;width:100%;height:100%;position:absolute; bottom:5px; left:0px;}
.news-secondary {background-color:black;}
.news-secondary img {opacity:0.6;}

.news-mini {clear:both; float:none;margin-bottom:2%;display:block;}
.news-mini img {width:33%;float:left;margin-right:2%;}
.more-news-mini {width:33%;background-color:#c20116;height:60px;text-align:center;float:left;margin-right:2%;}
.more-news-mini img {margin-top:25px;}
.news-text {line-height:3em;}

#news-footer-nav {width:100%;clear:both; float:none;margin-top:15px;height:80px;}
#news-footer-nav li, #news-footer-nav img {float:left;}
#news-footer-nav a {line-height:2.2em;text-decoration:none;}

/*Calendar*/
#calendar-title {clear:both;}
#calendar-title a {clear:both;display:block;}
#calendar-title p {margin-bottom:20px;}
#calendar-title a img{max-width:10%; float:left;}
#calendar-title a div{width:87%; float:right;}
h2.today-events-title {font-size:1.3em;margin-top:13px;}
#calendar-title h6 {color:white; line-height:1.1em;}
.today-events-title {float:left;}
.calendar-title-link {float:right;line-height:30px;margin-top:15px;margin-bottom:40px;}
.separator-long-term-events {display:block;border-bottom:1px solid white;clear:both;width:100%;margin-top:50px;}
.separator-long-term-events-text {background-color:#c20116;line-height:2em;text-align:center;display:block;width:170px;margin:0 auto; margin-top:-35px;margin-bottom:30px;}
.top-events {float:right;}
.next-section-link{position:absolute; bottom:5vh;right:50px;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.red-layout .next-section-link {color:white;}
.calendar-title-links {clear:both;}
.calendar-title-links a {text-decoration:underline;}

/*  -----------------------------------Služby-----------------------------------------------  */

.wrap-main h2 {color:#c20116;font-size:3em;font-weight:700;float:left;}
.but-emergency {margin-bottom:40px;background: url(../img/img-system/services/emergency.png) no-repeat left;background-position-x:20px;background-size:30px;height:45px; }
.but-emergency strong {font-weight:bold; clear:both;display:block;line-height:1.1em;height:10px;margin-top:3px;}
.but-emergency span {font-size:0.8em;}

#service-nav-icons,#service-nav-bottom {width:100%;clear:both;padding-top:40px;}
#service-nav-icons li, #service-tourists li {width:50%;float:right;text-align:center;margin:0px;padding:0px;margin-bottom:10px;display:block;}
#service-nav-icons a, #service-tourists a {display:block;text-decoration:none;text-align:center;width:100%;}
#service-nav-icons img, #service-tourists img {max-width:100%;clear:both;float:none;margin-bottom:2px;}
#service-nav-icons span, #service-tourists span {display:block; text-align:center;}

#service-nav-bottom {margin-bottom:40px;}
#service-nav-bottom li{padding-left:0px;text-align:left;}
#service-nav-bottom h3 {margin-bottom:20px;}

.wrap-side nav {display:block;}
#service-tourists ul {margin-top:5vh;}


/*  -----------------------------------Městský úřad-----------------------------------------------  */

#mestsky-urad .lilly {position:absolute; left:0px; top:30vh;width:20%;}
#mestsky-urad .bubble {float:right;}
.bubble a {text-decoration:underline;}
.bubble-red {background-color:#c20116;color:white;margin-bottom:5vh;}
.bubble-red .pad {padding:15px 30px;}
.bubble-red h3,.bubble-red a {color:white;}
.office-links {margin-bottom:7vh;}
.office-links nav {margin-bottom:3vh;text-align:left;}
.office-links li,.office-links h3 {padding-left:0px;text-align:left;}
.office-side {padding-top:10vh;}
.office-side h3{margin-bottom:25px;}
.office-side .but{margin-top:25px;}
.office-side table{margin-bottom:10px;width:100%;}
.office-side th {padding-right:10px;}


/*  -----------------------------------Vzdělávání-----------------------------------------------  */

#education-footer {border-top:5px solid #eaeaea;margin-top:40px;padding-top:30px;margin-bottom:30px;}
#education-footer li,#education-fotter h3{text-align:left;padding-left:0px;}
#education-footer h3 {font-size:21px;text-align:left;}
#vzdelavani h2{margin-bottom:30px;}
.wrap-main nav,.education-other {text-align:center;}
.education-other {margin-top:5vh;margin-bottom:30px;}
.education-other span {display:block;clear:both;padding:0 10px;}

.seminars-img {float:left;}
.seminar-list {margin-top:40px;}
.seminar-list a{clear:both;margin-bottom:15px;display:block;border-left:4px solid white;padding-left:20px;}
.seminar-list h4 {font-size:1.0em;}
.seminary-more {text-decoration:underline;}


    /*Facebook*/
.rblikebox{background: url("../img/img-system/title/facebook-slider.png") no-repeat scroll left center transparent !important;display: block;float: right;height: 270px;
    padding: 0 5px 0 55px;width: 245px;z-index: 9999999;position:fixed;right:-250px;top:20%;}
.rblikebox div{border:none; position:relative;display:block;}
.rblikebox span{bottom: 12px;font: 8px "lucida grande",tahoma,verdana,arial,sans-serif;position: absolute;right: 7px;text-align: right;z-index: 999;}
.rblikebox span a{color: gray;text-decoration:none;}
.rblikebox span a:hover{text-decoration:underline;}



