
/*  -----------------------------------General-----------------------------------------------  */

.sub-page{padding-top:103px;}
.subpage-icon {float:left;margin-right:15px;}
.header-text {padding-left:0px;float:left;}
.breadcrumb {clear:both;font-size:0.9em;opacity:0.6;}
.breadcrumb a {font-size:0.9em;}
.subpage-title strong{clear:both;display:block; color:black; font-size:0.45em;font-weight:400;line-height:1.5em;}
.subpage-title{display:block; float:left;}
h1 {margin-left:0px !important;clear:both;width:100%;margin-bottom:30px;}


/*  -----------------------------------Kalendář-----------------------------------------------  */
.cal-item-detail {background-color:white;box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.35);margin-bottom:2px;border-left:5px solid #c20116;}
.cal-detail-icon{float:left;width:10%;}
.cal-detail-text {float:left;width:60%;margin-top:30px;padding-bottom:30px;}
.cal-detail-image {float:left;width:20%;}
.cal-detail-link {float:right;width:10%;height:100%;background-color:#c20116;display:block; }
.cal-detail-icon img {width:70%;margin-left:15%;margin-top:40px;}
.cal-detail-image img {width:100%;margin-top:30px;}

/*  -----------------------------------Mobil-----------------------------------------------  */






@media screen and (max-width: 1350px) {

}



@media screen and (max-width: 1000px) {

}



@media screen and (max-width: 850px) {

}



@media screen and (max-width: 650px) {

}



@media screen and (max-width: 450px) {

}
