
/*  -----------------------------------General-----------------------------------------------  */

.sub-page{padding-top:103px;}
.subpage-icon {float:left;margin-right:15px;}
.header-text {padding-left:0px;float:left;}
.breadcrumb {clear:both;font-size:0.9em;opacity:0.6;}
.breadcrumb a {font-size:0.9em;}
.subpage-title strong{clear:both;display:block; color:black; font-size:0.45em;font-weight:400;line-height:1.5em;}
.subpage-title{display:block; float:left;}
h1 {margin-left:0px !important;clear:both;width:100%;margin-bottom:30px;}


/*  -----------------------------------Kalendář-----------------------------------------------  */
.cal-detail-img{float:left;}



/*  -----------------------------------Mobil-----------------------------------------------  */






@media screen and (max-width: 1350px) {

}



@media screen and (max-width: 1000px) {

}



@media screen and (max-width: 850px) {

}



@media screen and (max-width: 650px) {

}



@media screen and (max-width: 450px) {

}
